/*universal*/
*{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}
/*id selecter*/
#fruits{
    color: rgb(160, 213, 15);
    border: 3px dotted hotpink;
}
/*class selector*/

.a1{
    color: brown;
    text-decoration: line-through;
    font-weight: 500;
}
/*elements selcter*/
p{
    background-color: rgb(10, 109, 214);
    color: rgb(249, 25, 193);
}
/*attribute selecter*/
input[type="text"]{
    background-color: rgb(14, 191, 191);
}
[type="password"]{
    background-color: darkgoldenrod;
}
[placeholder="email"]{
    background-color: deeppink;
    color:firebrick ;
}
